body{
background:black;
color:white;
font-family:Arial, sans-serif;
margin:0;
padding:20px;
}

.container{
max-width:700px;
margin:auto;
}

.title{
font-size:30px;
margin-bottom:15px;
}

.video iframe{
width:100%;
height:220px;
border:none;
border-radius:10px;
}

.like-btn{
margin-top:15px;
background:#e50914;
color:white;
border:none;
padding:10px 20px;
font-size:16px;
border-radius:6px;
cursor:pointer;
}

.description{
margin-top:15px;
color:#ccc;
font-size:14px;
line-height:1.6;
}

.details{
margin-top:20px;
color:#aaa;
font-size:14px;
line-height:24px;
}

.details span{
color:white;
font-weight:bold;
}